{% extends 'index.html' %}

{% block title %}Create Ticket{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">        
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <!-- Dropdown Menu -->
            <li class="nav-item" style="margin-left: 1500%;">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
        </ul>
    </div>
    
</nav>
{% endblock %}

{% block slide %}
<!-- Leave this block empty if you don't want any slides -->
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <p>Create New Ticket</p>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <form method="POST">
            <div class="form-group">
                <label for="ticket_no">Ticket No</label>
                <input type="text" class="form-control" id="ticket_no" name="ticket_no" required>
            </div>
            <div class="form-group">
                <label for="plate_no">Plate No</label>
                <input type="text" class="form-control" id="plate_no" name="plate_no" required>
            </div>
            <div class="form-group">
                <label for="declaration_number">Declaration Number</label>
                <select class="form-control" id="declaration_number" name="declaration_number" required>
                    <option value="">Select Import ID</option>
                    {% for import in imports %}
                        <option value="{{ import.id }}">{{ import.id }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary" style=" white-space: nowrap;  min-width: 150px;">Create Ticket</button>
            <button type="button" class="btn btn-secondary" onclick="addItem()">Add Another Item</button>
        </form>
    </div> 
    {% endblock %}
