{% extends 'index.html' %}

{% block title %}User Dashboard{% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">        
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <!-- Dropdown Menu -->
            <li class="nav-item" style="margin-left: 1500%;">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
        </ul>
    </div>
    
</nav>
{% endblock %}

{% block slide %}
<!-- Leave this block empty if you don't want any slides -->
{% endblock %}

{% block content %}

    <div class="container mt-5">
        <h2>List of Tickets</h2>
        <form method="GET" class="mb-4" action="{{ url_for('main.list_tickets') }}">
            <div class="input-group">
                <input type="text" class="form-control" name="ticket_no" placeholder="Search by Ticket No" value="{{ search_ticket_no }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>

        {% if ticket_data %}
        <table>
            <thead>
                <tr>
                    <th>Ticket No</th>
                    <th>Plate No</th>
                    <th>Declaration Number</th>
                    <th>Item Name</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in ticket_data %}
                    <tr onclick="navigateToTicket('{{ ticket.ticket_no }}');">
                        <td>{{ ticket.ticket_no }}</td>
                        <td>{{ ticket.plate_no }}</td>
                        <td>{{ ticket.declaration_number }}</td>
                        <td>{{ ticket.item_name }}</td>
                        <td>{{ ticket.amount }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tickets found.</p>
    {% endif %}
        <script>
        function navigateToTicket(ticketNo) {
            window.location.href = "{{ url_for('main.print_ticket', ticket_no='__TICKETNO__') }}".replace('__TICKETNO__', ticketNo);
        }
        </script>
    </div>
    {% endblock %}
    
    